body * {
  font-family: sans-serif;
}

table td {
  border: 1px solid black;
  padding: 3px;
}

table {
  border-collapse: collapse;
}

#footer {
  margin-top: 100px;
  font-size: 80%;
  color: gray;
}