body * {
  font-family: sans-serif;
}

table td {
  border: 1px solid black;
  padding: 3px;
}

table {
  border-collapse: collapse;
}

#footer {
  margin-top: 100px;
  font-size: 80%;
  color: gray;
}

.hint {
  color: gray;
  font-size: 70%;
}

a.button {
  font-size: 60%;
  border: 1px solid gray;
  background: #DDD;
  color: black;
  text-decoration: none;
  padding: 1px;
}