body * {
  font-family: sans-serif;
  font-family: Georgia;
}

body {
  background-color: #EEEEEE;
  padding: 0px;
  margin: 0px;
}

#wrapper {
  background-color: white;
  margin: auto;
  width: 930px;
  padding: 20px;
}


#footer {
  margin-top: 100px;
  font-size: 80%;
  color: gray;
}

.hint {
  color: gray;
  font-size: 80%;
}

.highlight {
  color: #FF2815;
}

a {
  color: gray;
}

a:hover {
  color: black;
}

a.button {
  font-size: 11px;
  background: #44A0E4;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  padding: 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

a.button:hover {
  color: black;
  background-color: lightgray;
}

#new_account {
  margin-top: 20px;
  background-color: #C8E5F4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-top-left-radius: 20px;
  -moz-border-top-right-radius: 20px;
}

#accounts {
  background-color: #91CBEA;
}

#projects {
  background-color: #5AB1DF;
}

#projects fieldset {
  border: 1px solid white;
  width: 300px;
}

#projects .hint {
  color: #EEE;
}

#time_entries {
  background-color: #2385D2;
  color: white;
  margin-bottom: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-bottom-right-radius: 20px;
  -moz-border-bottom-left-radius: 20px;
}

#time_entries a {
  color: white;
}

#time_entries table td.number {
  text-align: right;
}

#time_entries table td {
  border: 0px;
  border-bottom: 1px solid #CCC;
  padding: 3px;
  font-size: 80%;
}

#time_entries table th {
  background-color: #DDD;
  font-size: 80%;
}

#time_entries table {
  border-collapse: collapse;
  background-color: white;
  color: #666;
  width: 100%;
}

.stage {
  padding: 20px;
  min-height: 50px;
}

.stage ul {
  padding-left: 0px;
}

.stage ul li {
  list-style: none;
  display: inline-block;
  width: 300px;
}

label {
  display: inline-block;
  min-width: 130px;
}

h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

h1 + p {
  margin-top: 0px;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  
}

#flash {
  display: none;
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 1em;
  font-weight: normal;
  color: #FFF;
  background-color: #444;
  background-color: rgba(0,0,0,0.7);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}